body {
  font-size: 1em;
  font-family: 'Trebuchet MS', sans-serif;
  
}

.wrapper {
  display: flex;
  flex: 1;
}

.navWrapper {
 height: 350px;
}

.tileWrapper {
  flex: 2;
  height: 350px;
  flex-wrap: wrap;
  padding: 55px 35px 35px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.titleWrapper{
  display: flex;
  width: 450px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px){
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tileWrapper {
    justify-content: flex-start;
    margin-top: 150px;
    margin-left: -40px;
  }
}
