.wrapper{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

ol{
  padding-top: 4px;
  list-style-type: "\1F4C1";
}

li{
  padding-top: 8px;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
}

.vis{
  display: block;
}

.invis{
  display: none;
}

.first {
  color: #4DB6AC;
}

.second {
  color: #26A69A;
}

.third {
  color: #009688;
}
