.wrapper{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

ol{
  padding-top: 4px;
}

.opened{
  list-style-type: "\1F4C2";
  font-size: 16px;
}

.closed{
  list-style-type: "\1F4C1";
  font-size: 16px;
}

li{
  padding: 8px 2px;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
}

.selected{
  border: 2px solid rgba(0, 150, 136, .5);
  border-radius: 10px;
}

.vis{
  display: block;
}

.invis{
  display: none;
}

.first {
  color: #4DB6AC;
}

.second {
  color: #26A69A;
}

.third {
  color: #009688;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

